<h3>{{pageTitle}}</h3>

<p><input type="text" /></p>

<p>Filtered By:</p>

<div *ngIf="!books.length">You've got no books, man.</div>

<div *ngIf="books.length">You've got {{books.length}} books, man.</div>

<table *ngIf="books.length">
    <thead>      
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Rating</th>
    </tr>  
    </thead>  
    <tbody>
    <tr *ngFor="#book of books">
        <td>{{book.BookName}}</td>
        <td>{{book.Price}}</td>
        <td>{{book.StarRating}}</td>
    </tr>
    </tbody>
<table>
